.menu {
  grid-column: 3 / 5;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: #FB5;

}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
  margin-left: 10px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 600;
  font-size: .875rem;
  letter-spacing: 0.1em;
  color: #222;
  text-transform: uppercase;
  text-decoration: none;
}

html.textomaior {
  font-size: 120%;
}

.titulo {
  grid-column: 1 / 4;
  font-family: 'Playfair Display SC', georgia;
  font-size: 6rem;
  margin-bottom: 3rem;
  line-height: 1;
  font-weight: 400;
  max-width: 14ch;
}

.grid-section {
  top: 300px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  gap: 20px;
  grid-template-columns: 90px 400px 600px;
  grid-column: 2 / 4;
  margin-bottom: 4rem;
}

.animais h2 {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-bottom: 1rem;
  color: #E54;
}

.animais h2::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 8px;
  margin-right: 10px;
  background: #FB5;
}

.animais p {
  font-family: Roboto;
  line-height: 1.2;
  margin-bottom: 1rem;
}


.animais-lista {
  height: 510px;
  overflow-y: scroll;
  grid-column: 2 / 3;
  border-radius: 6px;
  cursor: pointer;
}

.animais-lista::-webkit-scrollbar {
  width: 10px;
}

.animais-lista::-webkit-scrollbar-thumb {
  height: 60px;
  border-left: 2px solid #faf6ed;
  background: #FB5;
  border-radius: 12px;
}

.animais-descricao section {
  grid-column: 3;
  margin-bottom: 3rem;
}

.faq {
  grid-column: 2 / 4;

}

.faq-lista {
  grid-column: 2 / 4;
  font-family: Roboto;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.faq-lista dt {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 1rem;
  position: relative;
  margin-bottom: 8px;
  color: #E54;
}

.faq-lista dt::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 6px;
  left: -30px;
  top: 8px;
  background: #FB5;
}

.faq-lista dd {
  margin-bottom: 32px;
}




.dados {
  grid-column: 3;
}

.dados li {
  margin-bottom: .875rem;
  font-family: Roboto;
  font-size: 1.125rem;
}

.dados li::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background: #FB5;
}

.mapa {
  grid-column: 2;
}

.mapa-fonte {
  font-family: Poppins;
  font-size: 1rem;
  margin-top: 14px;
  font-weight: 400;
}

.mapa-fonte::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 8px;
  margin-right: 10px;
  background: #FB5;
}

.copy {
  grid-column: 3/5;
  background: #FB5;
  margin-bottom: 2rem;
}

.copy p {
  padding: 20px;
  font-size: .875rem;
  letter-spacing: 0.1em;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
}


.js-tabcontent section {
  display: none;
}

.js-tabcontent section.ativo {
  display: block !important;
  animation: show .5s forwards;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(-30, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.js-accordion dt {
  cursor: pointer;
}

.js-accordion dd {
  display: none;
}

.js-accordion dt::after {
  content: '⬎';
  margin-left: 10px;
}

.js-accordion dt.ativo:after {
  content: '⬏';
}

.js-accordion dd.ativo {
  display: block;
  animation: slidedown .5s forwards;
}

@keyframes slidedown {
  from {
    opacity: 0;
    max-height: 0;
  }

  to {
    opacity: 1;
    max-height: 100px;
  }
}

.js-scroll {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
}

.js-scroll.ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);

  transition: .3s;
}

@media (max-width: 1000px) {
  body {
    grid-template-columns: 1fr;
  }


  .grid-section {
    grid-template-columns: 200px 1fr;
  }

  .animais-lista {
    grid-column: 1;
  }

  .grid-section.faq {
    grid-template-columns: 20px 1fr 600px;
  }

}

@media (max-width: 700px) {
  .menu {
    grid-column: 1 / 5;
    margin-top: 1rem;
  }


  .titulo {
    font-size: 5rem;
  }

  .grid-section.faq {
    grid-template-columns: 20px 480px;
  }

  .mapa,
  .dados {
    grid-column: 1 /3;
  }

  .copy {
    grid-column: 1 / 5;
    margin-bottom: 0;
  }
}

@media (max-width: 570px) {
  .grid-section {
    grid-template-columns: 1fr;
  }

  .animais-lista {
    height: 360px;
    width: 300px;
    grid-column: 1 /4;
  }

  #faq {
    grid-template-columns: 200px 200px;
  }

  .mapa {
    display: none;
  }

  .titulo {
    font-size: 3.5rem;
  }



  .faq-lista,
  .dados,
  .mapa {
    grid-column: 1 / 3;
  }

  .grid-section.faq {
    grid-template-columns: 1fr;
  }
}